/*
---- Color Palette ----


color: #212A31; Dark
color: #1F2833; Light Dark
color: #124E66; Blueish Teal
color: #748D92; Light grey
color: #D3D9D4; Light
color: #7B68EE; Medium Slate Blue
color: #6495ED; cornflowerblue
color: #040F16; blackish
color: #040F16; rich black
*/

/* 

------ Font Family ------
font-style: Space Mono

*/

* {
	box-sizing: border-box;
	overflow: auto;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Space Mono", sans-serif;
	font-size: 10px;
	background-color: #040F16;
	color: #D3D9D4;
}

h1, h2, .animate-text{
	color: #D3D9D4;
}

/* glitch styles  */

.glitch {
    position: relative;
    color: #D3D9D4;
    font-size: 1.3em;
    letter-spacing: .3em;
    animation: glitch-skew 3s infinite ease-in-out alternate-reverse;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.glitch::before {
    left: 3px;
    text-shadow: -3px 0 #7B68EE;
    clip: rect(20px, 450px, 70px, 0);
    animation: glitch-color 3.2s infinite ease-in-out alternate-reverse;
}

.glitch::after {
    left: -3px;
    text-shadow: -3px 0 #6495ED, 3px 3px #7B68EE;
    animation: glitch-color2 2.4s infinite ease-in-out alternate-reverse;
}

@keyframes glitch-color {
    0% {
        clip: rect(20px, 9999px, 40px, 0);
        transform: skew(0.3deg);
    }
    10% {
        clip: rect(40px, 9999px, 60px, 0);
        transform: skew(0.5deg);
    }
    20% {
        clip: rect(60px, 9999px, 80px, 0);
        transform: skew(0.2deg);
    }
    30% {
        clip: rect(80px, 9999px, 100px, 0);
        transform: skew(0.4deg);
    }
    40% {
        clip: rect(100px, 9999px, 20px, 0);
        transform: skew(0.6deg);
    }
    50% {
        clip: rect(20px, 9999px, 40px, 0);
        transform: skew(0.3deg);
    }
    60% {
        clip: rect(40px, 9999px, 60px, 0);
        transform: skew(0.5deg);
    }
    70% {
        clip: rect(60px, 9999px, 80px, 0);
        transform: skew(0.2deg);
    }
    80% {
        clip: rect(80px, 9999px, 100px, 0);
        transform: skew(0.4deg);
    }
    90% {
        clip: rect(100px, 9999px, 20px, 0);
        transform: skew(0.6deg);
    }
    100% {
        clip: rect(20px, 9999px, 40px, 0);
        transform: skew(0.3deg);
    }
}

@keyframes glitch-color2 {
    0% {
        clip: rect(30px, 9999px, 50px, 0);
        transform: skew(0.4deg);
    }
    10% {
        clip: rect(50px, 9999px, 70px, 0);
        transform: skew(0.6deg);
    }
    20% {
        clip: rect(70px, 9999px, 90px, 0);
        transform: skew(0.3deg);
    }
    30% {
        clip: rect(90px, 9999px, 110px, 0);
        transform: skew(0.5deg);
    }
    40% {
        clip: rect(110px, 9999px, 30px, 0);
        transform: skew(0.7deg);
    }
    50% {
        clip: rect(30px, 9999px, 50px, 0);
        transform: skew(0.4deg);
    }
    60% {
        clip: rect(50px, 9999px, 70px, 0);
        transform: skew(0.6deg);
    }
    70% {
        clip: rect(70px, 9999px, 90px, 0);
        transform: skew(0.3deg);
    }
    80% {
        clip: rect(90px, 9999px, 110px, 0);
        transform: skew(0.5deg);
    }
    90% {
        clip: rect(110px, 9999px, 30px, 0);
        transform: skew(0.7deg);
    }
    100% {
        clip: rect(30px, 9999px, 50px, 0);
        transform: skew(0.4deg);
    }
}

@keyframes glitch-skew {
    0% {
        transform: skew(-0.5deg);
    }
    10% {
        transform: skew(0.3deg);
    }
    20% {
        transform: skew(0.7deg);
    }
    30% {
        transform: skew(-0.2deg);
    }
    40% {
        transform: skew(0.5deg);
    }
    50% {
        transform: skew(-0.4deg);
    }
    60% {
        transform: skew(0.6deg);
    }
    70% {
        transform: skew(-0.1deg);
    }
    80% {
        transform: skew(0.8deg);
    }
    90% {
        transform: skew(-0.3deg);
    }
    100% {
        transform: skew(0.2deg);
    }
}
/* glitch ends */

/*navbar - hamburger menu styles */

.menu-btn {
	position: fixed;
	z-index: 100;
	top: 1rem;
	right: 1rem;
	background: none;
	cursor: pointer;
	border: none;
}

#openMenu {
	background: transparent;
	color: #D3D9D4;
}

#closeMenu {
	display: none;
	/* color: #fff; */
	color:  #D3D9D4;
}
.menu-items {
	text-align: center;
	text-decoration: none;
	color:  #D3D9D4;
	margin: 1.2rem;
	position: relative; /* Add this */
}

.menu-links {
	text-align: center;
	text-decoration: none;
	color:#D3D9D4;
}

.menu-links .menu-items {
	display: block;
	margin: 0.3rem; 
}

.menu li {
	list-style: none;
	transition: all 0.5s ease-out;
}

.menu li:hover,
.menu a:hover {
	color: #6495ED;
	transform: scale(1.2);
	cursor: pointer;
}

.menu span,
.menu li i  {
	display: block;
	font-size: 0.8rem;
}

.menu {
	position: fixed;
	transform: translateY(-200%);
	transition: transform 0.2s;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	background: #040F16;
	opacity: 0.8;
	color: #D3D9D4;
	padding-top: 4rem;
	text-align: center;
}

.showMenu {
	transform: translateY(-5px);
	transition: transform 0.5s ease-in-out;
}

.menu-links li:first-child {
	display: block;
	margin: 0.3rem;
}

.menu-links li {
	display: inline-block;
	margin-right: 0.5rem; /* Adjust margin */
}

.menu-links li > a {
	display: inline-block;
	text-align: center;
}

.menu-links a {
	color: #D3D9D4;
}

.menu-links li:first-child {
	margin: 1.2rem 0;
}

.menu-links li:hover,
.menu-links a:hover {
	color: #6495ED;
	cursor: pointer;
	transition: all 0.5s ease-out;  
}

.menu-links a:hover {
	color: #6495ED;
	transform: scale(1.25);
}


/* navbar end */


/* Container Div styles */

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	gap: 5rem;
	font-family: "Space Mono", "Montserrat", monospace, sans-serif;
	color: #D3D9D4;
	line-height: 4.5rem;
}

.glitch {
	text-align: center;
}

.social-links li {
	list-style: none;
	display: inline-block;
}

.social-links li i {
	transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
}

.social-links li i:hover {
	transform: scale(1.2);
	color: #6494ede1;
	cursor: pointer;
}

#about {
	min-height: 80vh;
	display: flex;
	font-family: "Montserrat", monospace, sans-serif;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	height: 600px;
	letter-spacing: 0.1rem;
	text-align: center;
}

.section h2 {
	font-size: 1.4rem;
}

.section p {
	font-size: 0.7rem;
	margin: 0.7rem;
}

.wcoding {
	text-decoration: none;
	color: #fff;
}

#project {
	min-height: 150vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2rem;
	/* border: 2px solid coral; */
}

.portfolio {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
}

#project h2 {
	font-size: 1.4rem;
}

.project-link a {
	text-decoration: none;
	color: #D3D9D4;
}

.portfolio .item h4 {
	font-size: 0.8rem;
}
.portfolio .item {
	width: 70%;
	text-align: center;
	letter-spacing: 0.125rem;
	margin: 0.8rem;
	/* border: 2px solid mediumaquamarine; */
}

.portfolio:last-child {
	margin-bottom: 2rem;
}


.portfolio img {
	width: 250px;
	height: 150px;
	border-radius: 8px;
	border: 2px solid #1F2833;
	box-shadow: #6494edc9 0px 2px 4px, #6494ed97 0px 7px 13px -3px, #6494ed5d 0px -3px 0px inset;
}

.word {
	display: inline-block;
	font-size: 1.5rem;
}

.text-animate {
  display: inline-block;
  margin: 5rem;
  font-size: 1.5rem;
}

.text {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

/* Need for this class for animation to work */
.text.active {
  opacity: 1;
}

.text-animate span {
	margin-right: 0.5rem;
}

.text.dev {
    color: royalblue;
}
.text.mood {
    color: coral;
}
.text.interest {
    color: crimson;
}
.text.quality {
    color: lightseagreen;
}
.text.trait {
    color: goldenrod;
}
.text.skill {
    color: mediumslateblue;
}
.text.strength {
	color: lightseagreen;
}
.text.approach {
	color: mediumseagreen;
}
.text.talent {
	color: steelblue;
}
.text.vision {
	color: plum;
}
.text.goal {
	color: lightsalmon;
}
.text.attitude {
	color: firebrick;
}
.text.knowledge {
	color: cornflowerblue;
}
.text.dedication {
	color: darkorange;
}

.aboutBtn {
	padding: 0.8rem 1.4rem;
	background: #1F2833;
	cursor: pointer;
}

/* footer styles */
footer {
	text-align: center;
	font-size: 0.8rem;
	bottom: 0;
	background: #040F16;
	border-top: 2px solid #1F2833;
	border-radius: 0 0 0.2em 0.2em;
	color: #fff;
}

.footer {
	color: #D3D9D4;
}

.icons {
	display: none;
}

#contactMe {
	margin-bottom: 2rem;
}

#contactMe .email:hover {
	color: #6495ED;
	cursor: pointer;
}


/* Media Query for Tablet and Larger Screens */
/* Target screens smaller than 801px (or your chosen width) */
@media only screen and (min-width: 801px) {
  .navbar {
  	background: #040F16;
	border-bottom: 2px solid #1F2833;
  }

  .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	line-height: 6rem;
  }

  .glitch {
	margin: auto 2rem;
	text-align: center;
  }

  #social {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  }

  .menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: static;
    float: right;
    transform: none;
	gap: 0.8rem;
    opacity: 0.7;
    padding-top: 0.5rem;
    width: 100%;
    background: none;
  }
  .menu .menu-items:hover {
	color: #6495ED;
  }

  .menu li i {
	display: none;
  }
  /* Hide Hamburger Menu for smaller screens */
  #openMenu, #closeMenu, .menu-links, .menu-btn {
    display: none;
  }

  /* Footer icons display  */

	.icons {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.icons li {
		display: inline-block;
	}

	.icons a {
		text-decoration: none;
		color: #D3D9D4;
	}

	.icons a:hover {
		color: #6495ED;
		cursor: pointer;
	}

	.icons li {
		list-style: none;
		display: inline-block;
	}

	.icons li span {
	  margin: 0.6rem;
	  text-align: center;
	  line-height: 30px;
	}

	.follow-text {
	  vertical-align: middle;
	}

	.follow-text:hover {
		color: #6495ED;
		cursor: pointer;
	}

	.icons li i {
		color: #D3D9D4;
		text-decoration: none;
		margin: 0.4rem;
		transition: all 0.5s ease-out;
	}

	.icons li i:hover {
		color: #6495ED;
		transform: scale(2.1);
		cursor: pointer;
	}

	.icons li:last-child a {
		margin-right: 2rem;
	}
}

/* Media query for smaller screens or mobile versions */
@media only screen and (max-width: 460px) and (max-width: 500px) {
	* {
		overflow: auto;
	}
	.container {
		overflow: hidden;
	}
	.navbar {
		border: none;
	}
    .glitch {
        font-size: 1.1em; 
		overflow: hidden;
    }

    .section p {
        font-size: 0.6rem;
    }

    .project-link a {
        font-size: 0.7rem; 
    }

    .follow-text {
        font-size: 0.4rem; 
    }

	.social-links  {
		display: block;
		font-size: 1.2rem;
	}
}
